<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wordle</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/wordle.js') }}"></script>
</head>
<body>
<div class="heading">
  <h1 align="center"> Wordle</h1>
</div>

<div align="center">
  <table id = 'game_field'>
    <tr><td style="text-align:center"></td><td style="text-align:center"> </td><td style="text-align:center"> </td>
      <td style="text-align:center"> </td><td style="text-align:center"> </td style="text-align:center"></tr>
    <tr><td style="text-align:center"></td><td style="text-align:center"> </td><td style="text-align:center"> </td>
      <td style="text-align:center"> </td><td style="text-align:center"> </td style="text-align:center"></tr>
    <tr><td style="text-align:center"></td><td style="text-align:center"> </td><td style="text-align:center"> </td>
      <td style="text-align:center"> </td><td style="text-align:center"> </td style="text-align:center"></tr>
    <tr><td style="text-align:center"></td><td style="text-align:center"> </td><td style="text-align:center"> </td>
      <td style="text-align:center"> </td><td style="text-align:center"> </td style="text-align:center"></tr>
    <tr><td style="text-align:center"></td><td style="text-align:center"> </td><td style="text-align:center"> </td>
      <td style="text-align:center"> </td><td style="text-align:center"> </td style="text-align:center"></tr>
    <tr><td style="text-align:center"></td><td style="text-align:center"> </td><td style="text-align:center"> </td>
      <td style="text-align:center"> </td><td style="text-align:center"> </td style="text-align:center"></tr>
    </table>
  

<div class = "blocks">
  <div>
    
    <button type="button" data-key="q" class="Key-module_key__Rv-Vp">q</button>
    <button type="button" data-key="w" class="Key-module_key__Rv-Vp">w</button>
    <button type="button" data-key="e" class="Key-module_key__Rv-Vp">e</button>
    <button type="button" data-key="r" class="Key-module_key__Rv-Vp">r</button>
    <button type="button" data-key="t" class="Key-module_key__Rv-Vp Key-module_fade__37Hk8" data-state="correct" aria-label="t correct">t</button>
    <button type="button" data-key="y" class="Key-module_key__Rv-Vp">y</button>
    <button type="button" data-key="u" class="Key-module_key__Rv-Vp">u</button>
    <button type="button" data-key="i" class="Key-module_key__Rv-Vp Key-module_fade__37Hk8" data-state="present" aria-label="i present">i</button>
    <button type="button" data-key="o" class="Key-module_key__Rv-Vp">o</button>
    <button type="button" data-key="p" class="Key-module_key__Rv-Vp">p</button>
  </div>
  <div class="Keyboard-module_row__YWe5w">
  <div data-testid="spacer" class="Key-module_half__ljsj8">

  </div><button type="button" data-key="a" class="Key-module_key__Rv-Vp">a</button>
    <button type="button" data-key="s" class="Key-module_key__Rv-Vp Key-module_fade__37Hk8" data-state="absent" aria-label="s absent">s</button>
    <button type="button" data-key="d" class="Key-module_key__Rv-Vp Key-module_fade__37Hk8" data-state="present" aria-label="d present">d</button>
    <button type="button" data-key="f" class="Key-module_key__Rv-Vp">f</button>
    <button type="button" data-key="g" class="Key-module_key__Rv-Vp">g</button>
    <button type="button" data-key="h" class="Key-module_key__Rv-Vp">h</button>
    <button type="button" data-key="j" class="Key-module_key__Rv-Vp">j</button>
    <button type="button" data-key="k" class="Key-module_key__Rv-Vp">k</button>
    <button type="button" data-key="l" class="Key-module_key__Rv-Vp">l</button>
    <div data-testid="spacer" class="Key-module_half__ljsj8"></div>
  </div>
  <div class="Keyboard-module_row__YWe5w">
    <button type="button" data-key="↵" class="Key-module_key__Rv-Vp Key-module_oneAndAHalf__K6JBY">enter</button>
    <button type="button" data-key="z" class="Key-module_key__Rv-Vp">z</button>
    <button type="button" data-key="x" class="Key-module_key__Rv-Vp">x</button>
    <button type="button" data-key="c" class="Key-module_key__Rv-Vp">c</button>
    <button type="button" data-key="v" class="Key-module_key__Rv-Vp">v</button>
    <button type="button" data-key="b" class="Key-module_key__Rv-Vp">b</button>
    <button type="button" data-key="n" class="Key-module_key__Rv-Vp">n</button>
    <button type="button" data-key="m" class="Key-module_key__Rv-Vp">m</button>
  <button type="button" data-key="←" aria-label="backspace" class="Key-module_key__Rv-Vp Key-module_oneAndAHalf__K6JBY">
  <svg xmlns="http://www.w3.org/2000/svg" height="12" viewBox="0 0 24 24" width="12" class="game-icon" data-testid="icon-backspace">
    <path fill="var(--color-tone-1)" d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.9.89 1.59.89h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H7.07L2.4 12l4.66-7H22v14zm-11.59-2L14 13.41 17.59 17 19 15.59 15.41 12 19 8.41 17.59 7 14 10.59 10.41 7 9 8.41 12.59 12 9 15.59z">
    </path>
  </svg>
</button>
</div>
</div>

</div>
</body>

<style>
    td {
      border: 2px solid gray;
    }
    td {
   
      padding: 15px;
      border-radius: 5px
    }

    .Key-module_key__Rv-Vp {
      border: 2px solid gray;
      padding: 15px;
      border-radius: 5px;
      margin: 2px
    }
    .Key-module_key__Rv-Vp:active {
      transform: scale(0.98);
      background-color: gray
    }

    .Key {
      padding: 15px;
      border-radius: 5px;
      background-color: silver
    }

    .Key:active {
      transform: scale(0.98)

    }

    .blocks {
    margin-top:200px;
    }

    .red {
      background-color: red;
    }
    .SkyBlue {
      background-color: SkyBlue;
    }

    .gray {
      background-color: gray;
    }
    .Khaki {
      background-color: Khaki;
    }

</style>
<script>
  //l = 5
//   n = 0
//   $(document).ready(function() {
//     d ='';
    
//     $("button").click(function() {
//         d = d+$(this).data('key');
//         // $(this).data('state','absent');
//         $('#game_field tr').eq(n).children("td").eq(d.length-1).text($(this).data('key'));
//         console.log(n)
//         console.log(d)
//         //console.log(d.length)

//     if (d.length == 5){$(document).on('keydown',function(e) {
//     if(e.which == 9) {     
//       form_data = String(d); // Собираем все данные из формы
//       console.log(form_data, "Собранное слово для отправки на сервер")
//           $.ajax({
//               type: "POST", // Метод отправки
//               url: "wordle", // Путь до html файла отправителя
//               data: {'word':form_data},
//               success: function () {  // Код в этом блоке выполняется при успешной отправке сообщения
//                 console.log(n, "Запрос POST")
//                   //alert("Ваше сообщение отправлено!");
//               }
//           })
//           .done(function(data) {
//               if (data) {
//                 $('#game_field tr').eq(n).children("td").eq(0
//                 ).text(data.word.word[0]).addClass(data.color[0]);

//                 $('#game_field tr').eq(n).children("td").eq(1
//                 ).text(data.word.word[1]).addClass(data.color[1]);

//                 $('#game_field tr').eq(n).children("td").eq(2
//                 ).text(data.word.word[2]).addClass(data.color[2]);

//                 $('#game_field tr').eq(n).children("td").eq(3
//                 ).text(data.word.word[3]).addClass(data.color[3]);

//               $('#game_field tr').eq(n).children("td").eq(4
//                 ).text(data.word.word[4]).addClass(data.color[4]);

                
//                 //$('button').eq(data.word.word[0]).addClass(data.color[0]);
//                 d ='';
                
                
//                 console.log(n, "Заполнение ")
//                 n = n+1
//               }

//               //else if (data.error) {alert("Слова в списке нет!");}

//           });
//           //event.preventDefault();
//         //alert('You pressed enter!');
//         }
//       });

      
//     }

    

//   });
  
// });




</script>


</html>


